{% if page.image.feature %}

{% include head.html %}

<section class="article">

  <div class="overlay"></div>
  <div class="featured-image" style="background-image: url({{ site.url }}/images/{{ page.image.feature }})"></div>
{% else %}

{% include head-dark.html %}

<section class="article pad-top">

{% endif %}


      <article class="wrap post">
        <header class="post-header">
          <hgroup>
            <h1>{{page.title}}</h1>
            {% assign author = site.authors | where: "username", page.author | first %}
            {% assign category = site.categories | where: "title", page.category | first %}
            {% assign date = page.date %}
            <a href="{{ author.url }}"><span class="author">{{ author.name_ml }}</span></a>{% if category.title_ml %} under <a href="{{ category.url }}"><span class="category">{{ category.title_ml }}</span></a>{% endif %} on <span class="date">{% include currentdate.html %}</span>
            <p class="intro">{% if page.description %}{{ page.description }}{% else %}{{ page.tagline }}{% endif %}</p>
          </hgroup>
        </header>
        {% if page.language == nil %}
                {% assign language = "ml" %}
        {% else }
                {% assign language = page.language %}
        {% endif %}
        <div style="text-align:justify" class="hyphenate" lang="{{ language }}">
            {{ content }}
        </div>

      <a class="share" href="https://twitter.com/intent/tweet?text=&quot;{{ page.title }}&quot;%20{{ site.canonical }}{{ page.url }}%20via%20&#64;{{ site.owner.twitter }}" data-dnt="true">Share</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

      {% if page.comments %}
      <aside class="disqus">
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = '{{ site.owner.disqus }}'; // required: replace example with your forum shortname

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
      </aside>
      {% endif %}

      </article>
    </section>
</div>

{% include footer.html %}
