{% include head-dark.html %}
    <div id='bump'>
        <section class="article archive">
          <article class="archive-wrap">
              <ol class="post-list">
                <lh><h2><span class="bb">പരമ്പരകൾ</span></h2></lh>
                  {% assign series = site.series %}
                  {% for item in series %}
                  <li>
                    <a href="{{ item.url }}" title="Series page of {{ item.name_ml }}">{{ item.name_ml }}</a><br />
                    <span style="font-size: 0.5em">
                    {{ item.content }}
                    </span>
                  </li>
                  {% endfor %}
              </ol>
          </article>
        </section>
    </div>

{% include footer.html %}
