{% include head-dark.html %}

    <div id='bump'>
        <section class="article archive">
          <article class="archive-wrap">
              <ol class="post-list">
                 {% assign series = site.series | where: "name", page.name | first %}
                 <lh><h1><span class="bb">{{ series.name_ml}}</span></h1></lh><br />
                 {{ content }}
                </ul>
              </ol>
              <hr>
              <ol class="post-list">
                  {% assign posts = site.posts | where: "series", series.name %}
                  {% for post in posts %}
                  <li>
                    <div class="deets" itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
                        <h4><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h4>
                        <p class="date"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %d, %Y" }}</time></p>
                        <p class="index">{% if post.description %}{{ post.description  | strip_html | strip_newlines | truncate: 120 }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 120 }}{% endif %}</p>
                    </div>
                  </li>
                  {% endfor %}
              </ol>
          </article>
        </section>
    </div>

{% include footer.html %}
